backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
executing==0.5.4
fastapi==0.63.0
geojson==2.5.0
h11==0.12.0
httptools==0.1.1
idna==2.10
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.11
jupyter-core==4.7.0
numpy==1.19.5
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.14
ptyprocess==0.7.0
pydantic==1.8.1
Pygments==2.7.4
python-dateutil==2.8.1
python-dotenv==0.17.0
PyYAML==5.4.1
pyzmq==21.0.2
requests==2.25.1
scipy==1.6.0
Shapely==1.7.1
six==1.15.0
starlette==0.13.6
tornado==6.1
traitlets==5.0.5
turfpy==0.0.5
typing-extensions==3.7.4.3
urllib3==1.26.2
uvicorn==0.13.4
uvloop==0.15.2
varname==0.5.6
watchgod==0.7
wcwidth==0.2.5
websockets==8.1
wget==3.2
