<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Herdr geojson converter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
          {% load static %}
    <link rel="stylesheet" href="{% static 'principal/css/main.css' %}">
</head>
<body>

    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
    <!--  <h4>BEAUTIFUL RESPONSIVE WEB SITES</h4>-->
    <h1 class="w3-xxxlarge w3-animate-bottom">Herdr geojson converter</h1>
        <!-- <div class="w3-padding-32">
            <a href="/api/images"
            class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey"
            style="font-weight:900;"> Lien vers l'API </a>
        </div> -->
    </div>
    </header>

    <div class="w3-padding-32 w3-center ma-box-radio">
        <div class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey"
               style="font-weight:900; position: center">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"> Soumettre</button>
            </form>
            {% if file_updated %}
                <ol>
                    <li>
                        <a href="data:application/json,{{points_fc}}" download="points.geojson" >
                            points.geojson
                        </a>
                    </li>
                    <li>
                        <a href="data:application/json,{{polylines_fc}}" download="polylines.geojson">
                            polylines.geojson
                        </a>
                    </li>
                </ol>
            {% endif %}
        </div>
    </div>
</body>
</html>