.container-informations{
    display: grid;
    place-items: center;
    margin-bottom: 50px;
    width: 100%;
}
.images-wrapper{
    display: flex;
    /*place-items: center;*/
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.title-image-uploaded{text-align: center;}
.image-uploaded-wrapper{

}
.title-image-processed{text-align: center;}
.image-processed-wrapper{

}

.informations-wrapper{
    display: grid;
    place-items: center;
}


.title-informations-1{
    text-align: center;
    max-width: 50vw;
}

.ingredients-text{
    max-width: 40vw;
    font-size: 16px;
}

.valeurs_nutritives-text{
    max-width: 40vw;
    font-size: 16px;
}

img{
    max-height: 50vh;
    max-width: 50vw;
    border: 3px solid black ;
    padding: 0 20px 0 20px;
}
.ma-box-radio{
    /*position: absolute;*/
}